.contact-form {
  input[type=text], 
  input[type=email],
  input[type=tel],
  textarea {
    display: block;
    width: 100%;
    margin:0.5em 0;
    border: 3px solid #ddd;
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 0.5em;
    color: #000;
    background: #fff;

    &::placeholder{
      opacity: 1;
      color: #2a3c61;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
    }
  }

  h2 {
    text-align: center;
    color: #56a9e0;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }
}